/**********/
/* HEADER */
/**********/


.header
{}

.header_inside
{
  height: 100vh;
  background-color: #2b0b2d;
  background-image: url("img/001_header/header_bg_1920.png");
  background-size: 100% 100vh;
}

.header_items
{
  display: flex;
  justify-content: space-between;
}

.logo_img_container
{
  margin: 91px 0 0 253px;
}

.logo_img
{}

.menu_img_container
{
  margin: 85px 214px 0 0;
}

.menu_img
{}

.main_title_container
{
  width: 552px;
  margin: 287px auto 0 auto;
  overflow: hidden;
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.main_title
{
  font-size: 65px;
  font-family: "Raleway";
  font-weight: 900;
  letter-spacing: 0.22em;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.308;
  text-align: center;
  white-space: nowrap;
  margin-left: -1px;
}

.hashtag_title
{
  font-size: 25px;
  font-family: "Roboto";
  letter-spacing: 0.035em;
  color: rgba(255, 255, 255, 0.7);
  line-height: 3.4;
  text-align: center;
}


/*************/
/* SECTION 1 */
/*************/


.section_1
{}

.section_1_inside
{}

.human_shape
{}

.personal_presentation
{}

.personal_presentation_title
{}

.personal_presentation_text
{}

.hire_me_link
{}

.hire_me_text
{}


/*************/
/* SECTION 2 */
/*************/


.section_2
{}

.section_2_inside
{}

.working_process_title
{}

.working_process_subtitle
{}

.work_article_list
{}

.work_article
{}

.work_link
{}

.work_img
{}

.work_title
{}


/*************/
/* SECTION 3 */
/*************/


.section_3
{}

.section_3_inside
{}

.work_experience
{}

.work_experience_title
{}

.education
{}

.education_title
{}

.experience_article
{}

.experience_name
{}

.experience_date
{}

.experience_text
{}


/*************/
/* SECTION 4 */ /* GRID LAYOUT? */
/*************/


.section_4
{}

.section_4_inside
{}

.latest_works_title
{}

.latest_works_subtitle
{}

.latest_works_list
{}

.latest_works_item
{}

.latest_works_item_link
{}


/*************/
/* SECTION 5 */
/*************/


.section_5
{}

.section_5_inside
{}

.citation_img
{}

.citation
{}

.signature
{}

.citation_author
{}

.citation_author_job
{}


/*************/
/* SECTION 6 */
/*************/


.section_6
{}

.section_6_inside
{}

.contact_message
{}

.contact_message_title
{}

.contact_message_form
{}

.input_name
{}

.input_email
{}

.input_subect
{}

.input_message
{}

.input_submit
{}

.contact_address
{}

.contact_address_title
{}

.contact_phone
{}

.contact_phone_title
{}

.contact_web
{}

.contact_web_title
{}

.contact_text
{}


/**********/
/* FOOTER */
/**********/


.footer
{}

.footer_inside
{}

.social_list
{}

.social_element
{}

.social_element_link
{}

.social_element_img
{}

.copyright
{}
