/*************/
/* FONT FACE */
/*************/


@font-face
{
  font-family: "custom_raleway";
  font-weight: normal;
  src: url("fonts/raleway/Raleway-Regular.ttf");
}

@font-face
{
  font-family: "custom_raleway";
  font-weight: medium;
  src: url("fonts/raleway/Raleway-Medium.ttf");
}

@font-face
{
  font-family: "custom_raleway";
  font-weight: bold;
  src: url("fonts/raleway/Raleway-Bold.ttf");
}

@font-face
{
  font-family: "custom_raleway";
  font-weight: 900;
  src: url("fonts/raleway/Raleway-Black.ttf");
}


/**********/
/* HEADER */
/**********/


.header
{}

.header_inside
{
  height: 100vh;
  background-color: #2b0b2d;
  background-image: url("img/001_header/header_bg_1920.png");
  background-size: 100% 100vh;
}

.header_items
{
  display: flex;
  justify-content: space-between;
}

.logo_img_container
{
  margin: 91px 0 0 253px;
}

.logo_img
{}

.menu_img_container
{
  margin: 85px 214px 0 0;
}

.menu_img
{}

.main_title_container
{
  width: 552px;
  margin: 287px auto 0 auto;
  overflow: hidden;
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.main_title
{
  font-size: 65px;
  font-family: "custom_raleway";
  font-weight: 900;
  letter-spacing: 0.22em;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.308;
  text-align: center;
  white-space: nowrap;
  margin-left: -1px;
}

.hashtag_title
{
  font-size: 25px;
  font-family: "Roboto", Arial, sans-serif;
  letter-spacing: 0.035em;
  color: rgba(255, 255, 255, 0.7);
  line-height: 3.4;
  text-align: center;
}


/*************/
/* SECTION 1 */
/*************/


.section1
{}

.section1_inside
{
  background-image: url("img/002_section1/shape.png");
  background-repeat: no-repeat;
  background-position: 18.1% 100%;
  height: 702px;
  display: flex;
}

.personal_presentation
{
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 0 43.75%;
}

.personal_presentation_title
{
  font-size: 18px;
  font-family: "Roboto";
  color: rgba(0, 0, 0, 0.702);
  font-weight: bold;
  line-height: 1.556;
  margin: 165px 0 31px 14px;
}

.personal_presentation_text
{
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.702);
  line-height: 1.751;
  margin: 24px 0 0 14px;
  width: 71.8%;
}

.hire_me_link
{
  display: block;
  background-color: #ff2b4a;
  width: 202px;
  height: 46px;
  overflow: hidden;
  margin: 62px 0 0 14px;
}

.hire_me_text
{
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.751;
  text-align: center;
  margin: 10px 0 0 0;
}


/*************/
/* SECTION 2 */
/*************/


.section2
{}

.section2_inside
{
  height: 667px;
  background-color: #f6f6f6;
  overflow: hidden;
}

.working_process_title
{
  font-size: 40px;
  font-family: "custom_raleway";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 0.7;
  text-align: center;
  margin: 125px 0 0 0;
}

.working_process_subtitle
{
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.702);
  line-height: 1.751;
  text-align: center;
  margin: 35px 0 0 0;
}

.work_article_list
{
  width: 1170px;
  height: 270px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin: 57px auto 0;
}

.work_article:nth-child(1)
{
  background-color: #10c6fc;
}

.work_article:nth-child(2)
{
  background-color: #835aeb;
}

.work_article:nth-child(3)
{
  background-color: #002453;
}

.work_article:nth-child(4)
{
  background-color: #ff2b4a;
}

.work_link
{
  width: 100%;
  height: 270px;
  overflow: hidden;
  display: block;
  position: relative;
}

.work_img
{
  display: block;
  margin: 87px auto 0;
}

.work_title
{
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 16px;
  font-family: "custom_raleway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.751;
  text-align: center;
}


/*************/
/* SECTION 3 */
/*************/


.section3
{}

.section3_inside
{
  height: 793px;
  background-color: black;
  background-image: url("img/004_section3/section3_bg_1920.png");
  background-size: 100% 793px;
  overflow: hidden;
}

.experience_container
{
  width: 1170px;
  height: 545px;
  margin: 124px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.experience_block
{
  background-image: url("img/004_section3/work_bg.png");
  background-size: cover;
}

.experience_block_content
{
  margin: 60px 41px 0;
}

.experience_title
{
  font-size: 26px;
  font-family: "custom_raleway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.077;
}

.experience_article
{
  margin: 54px 0 0 0;
}

.experience_article:not(:nth-child(2))
{
  margin: 24px 0 0 0;
}

.experience_article:not(:last-child)
{
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.experience_name
{
  font-size: 18px;
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.902);
  font-weight: bold;
  line-height: 1.556;
}

.experience_date
{
  font-size: 16px;
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.702);
  line-height: 1.438;
  margin: 12px 0 0 0;
}

.experience_text
{
  font-size: 16px;
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.502);
  line-height: 1.438;
  margin: 10px 0 27px 0;
}


/*************/
/* SECTION 4 */
/*************/


.section4
{}

.section4_inside
{
  height: 948px;
  overflow: hidden;
}

.latest_works_title
{
  font-size: 40px;
  font-family: "custom_raleway";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 0.7;
  text-align: center;
  margin: 125px 0 0 0;
}

.latest_works_subtitle
{
  font-size: 16px;
  font-family: "Roboto";
  font-weight: bold;
  color: rgba(0, 0, 0, 0.702);
  line-height: 1.751;
  text-align: center;
  margin: 55px 0 0 0;
}

.latest_works_list
{
  width: 1170px;
  height: 553px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 13px;
  margin: 35px auto 0;
}

.latest_works_item:nth-child(1)
{
  background-color: #10c6fc;
}

.latest_works_item:nth-child(2)
{
  background-color: #835aeb;
}

.latest_works_item:nth-child(3)
{
  background-color: #002453;
}

.latest_works_item:nth-child(4)
{
  background-color: #ff2b4a;
}

.latest_works_item:nth-child(5)
{
  grid-column: 1 / span 2;
  grid-row: 2 / 3;
  background-color: #835aeb;
}

.latest_works_item:nth-child(6)
{
  background-color: #002453;
}

.latest_works_item:nth-child(7)
{
  background-color: #ff2b4a;
}

.latest_works_item_link
{
  display: block;
  width: 100%;
  height: 100%;
}


/*************/
/* SECTION 5 */
/*************/


.section5
{}

.section5_inside
{
  height: 702px;
  background-color: #64cbc0;
}

.citation_img
{}

.citation
{}

.signature
{}

.citation_author
{}

.citation_author_job
{}


/*************/
/* SECTION 6 */
/*************/


.section6
{}

.section6_inside
{}

.contact_message
{}

.contact_message_title
{}

.contact_message_form
{}

.input_name
{}

.input_email
{}

.input_subect
{}

.input_message
{}

.input_submit
{}

.contact_address
{}

.contact_address_title
{}

.contact_phone
{}

.contact_phone_title
{}

.contact_web
{}

.contact_web_title
{}

.contact_text
{}


/**********/
/* FOOTER */
/**********/


.footer
{}

.footer_inside
{}

.social_list
{}

.social_element
{}

.social_element_link
{}

.social_element_img
{}

.copyright
{}
