@media (min-width: 1366px)
{

.section1
{}

.section1_inside
{
  background-image: url("img/002_section1/shape.png");
  background-repeat: no-repeat;
  background-position: 18.1% 100%;
  background-size: auto;
  height: 702px;
  display: flex;
}

.personal_presentation
{
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 0 43.8%;
}

.personal_presentation_title
{
  font-size: 18px;
  font-family: "Roboto";
  color: rgba(0, 0, 0, 0.702);
  font-weight: bold;
  line-height: 1.556;
  margin: 165px 0 31px 14px;
}

.personal_presentation_text
{
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.702);
  line-height: 1.751;
  margin: 24px 0 0 14px;
  width: 71.8%;
}

.hire_me_link
{
  display: block;
  background-color: #ff2b4a;
  width: 202px;
  height: 46px;
  overflow: hidden;
  margin: 62px 0 0 14px;
}

.hire_me_text
{
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.751;
  text-align: center;
  margin: 10px 0 0 0;
}

}
