@media (max-width: 767px)
{

.section2
{
  background-color: #f6f6f6;
}

.section2_inside
{
  width: 90%;
  height: 844px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 0 4.5% 0;
}

.working_process_title
{
  height: 40px;
  font-size: 29px;
  font-family: "custom_raleway";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1;
  text-align: center;
  margin: 50px 0 0 0;
}

.working_process_subtitle
{
  font-size: 16px;
  width: 250px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.702);
  line-height: 1.751;
  text-align: center;
  margin: 35px auto 0;
}

.work_article_list
{
  display: grid;
  width: 100%;
  grid-template-rows: repeat(4, 140px);
  grid-gap: 15px;
  margin: 57px 0 0 0;
}

.work_article
{}

.work_article:nth-child(1)
{
  background-color: #10c6fc;
}

.work_article:nth-child(2)
{
  background-color: #835aeb;
}

.work_article:nth-child(3)
{
  background-color: #002453;
}

.work_article:nth-child(4)
{
  background-color: #ff2b4a;
}

.work_link
{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  position: relative;
}

.work_img
{
  display: block;
  margin: 27px auto 0;
}

.work_title
{
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 16px;
  font-family: "custom_raleway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.751;
  text-align: center;
  letter-spacing: 0.03em;
}

}
